{% extends 'base.html.twig' %}
{% block title %}
    | show
{% endblock %}
{% block body %}
    <div class="form">
        <br>Podaj date do wyszukania:
        {{ form(form) }}
    </div>

    <div class="content">
        Znaleziono <b> {{ exchange|length }} </b> kursy walut z dnia
        {{ exchange|last.importat|date("Y-m-d") }}.
        <br><br>
        Kliknij na wybraną walutę aby wyświetlić jej kurs z poszczególnych dni
        <br><br>
    </div>


    <table>
        <tr><td><b>Waluta</b></td><td><b>Kurs</b></td><td><b>Oznaczenie</b></td></tr>

        {% for rate in exchange %}
                <tr>
                    <td><a href="{{ path('app_show', {'currencyId': rate.currency.id }) }}">
                            {% if rate.currency.namePL is empty %}
                                {{ rate.currency.nameEN }}
                            {% else %}
                                {{ rate.currency.namePL }}
                            {% endif %}
                        </a></td>
                    <td> {{ rate.mid }} </td>
                    <td><a href="{{ path('app_show', {'currencyId': rate.currency.id }) }}"> {{ rate.currency.code }} </a></td>
                </tr>
        {% endfor %}

    </table>

{% endblock %}
