{% extends 'base.html.twig' %}
{% block title %}
    | show
{% endblock %}
{% block body %}
    <div class="content">
        Znaleziono <b> {{ exchange|length }} </b> kursy dla waluty
        {{ exchange|last.currency.namePL }}.
        <br><br>
        Kliknij na wybraną datę aby wyświetlić kursy poszczególnych walut.
        <br><br>
    </div>

    <table style="width: 600px;">
        <tr>
            <td><b>Waluta</b></td>
            <td><b>Kurs</b></td>
            <td style="text-align: center;"><b>Różnica</b></td>
            <td style="text-align: center;"><b>Zmiana w %</b></td>
            <td></td>
            <td><b>Oznaczenie</b></td>
            <td><b>Data</b></td>

        </tr>

        {% set counter= 0 %}
        {% for rate in exchange %}
        <tr>
            <td>
                {% if rate.currency.namePL is empty %}
                    {{ rate.currency.nameEN }}
                {% else %}
                    {{ rate.currency.namePL }}
                {% endif %}
            </td>
            <td> {{ rate.mid }} </td>
            <td style="text-align: center;"> {{ sub[counter]|round(4, 'common') }} </td>
            <td style="text-align: center;"> {{ sc[counter]|round(3, 'common') }} % </td>
            <td>
                {% if sub[counter] > 0 %}
                    <img src="/images/up.png" alt="UP">
                {% elseif sub[counter] < 0 %}
                    <img src="/images/down.png" alt="DOWN">
                {% endif %}
            </td>
            <td>{{ rate.code }}</td>
            <td><a href="{{ path('app_browse', {'date': rate.importat|date("Y-m-d") }) }}">{{ rate.importat|date("Y-m-d") }}</a></td>
        </tr>
            {% set counter= counter+1 %}
        {% endfor %}


    </table>

    <br>
    <a href="{{ path('app_browse') }}"><i> Powrót do przeglądania wszystkich walut </i></a>

{% endblock %}
